# Ignore virtual environments
venv/
.env/
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset files
data/raw/
data/processed/
data/splits/
data/augmentation/
data/HDF5/

# Ignore logs and experiments
logs/
experiments/
wandb/
neptune/

# Ignore model weights
models/
*.h5
*.pt
*.pkl

# Ignore VS Code settings
.vscode/
