# Ignore virtual environments
venv/
.env/
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset files
data/

# Ignore logs and experiments
logs/
experiments/
wandb/
neptune/

# Ignore model weights
*.h5
*.pt
*.pkl
*.pth

# Ignore VS Code settings
.vscode/

# Ignore hydra output files
outputs/